.card__wrapper {
    max-width: 270px;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 0.4rem;
    overflow: hidden;

    .card__image {
        width: 100%;
        height: 230px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        .view__more {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            a {
                border: none;
                color: transparent;
            }

            &:hover {
                background-color: rgba($color: #000000, $alpha: 0.25);

                a {
                    padding: 0.3rem;
                    border: 1px solid #fff;
                    color: #fff;
                }
            }
        }
    }

    .card__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;
        color: #fff;

        h4 {
            font-size: 0.85rem;
        }

        .card__data__button {
            width: 100%;
            background-color: #000;
            color: #fff;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card__button {
            width: 100%;
            background: transparent;
            border: none;
            outline: none;
            color: #fff;
            padding: 0.5rem;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;
        }

        .view__more__button {
            color: #fff;
            padding: 0.3rem;
        }

        @media (max-width: 550px) {
            h4 {
                white-space: nowrap;
                width: 12em;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}