*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFF6ED;
    --secondary-color: #C98258;
    --primary-font: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    --webkit-font-smoothing: antialiased;
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body,
input,
textarea,
button {
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
}

button {
    cursor: pointer;
}

p {
    margin: 0;
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }