.header__container {
    border-bottom: 1px solid #cccccc;

    .header_detail {
        background-color: var(--secondary-color);
        width: 100%;
        height: 20px;
    }

    .header__wrapper {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 550px) {
            flex-direction: column-reverse;
            gap: 0.5rem;
        }

        img {
            width: 90px;
            height: 90px;
        }

        .menu {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 1.5rem;

            a {
                &:hover {
                    color: var(--secondary-color);
                }
            }
        }

        .shopping__cart {
            position: relative;
            cursor: pointer;

            span {
                position: absolute;
                top: -8px;
                right: -8px;
                width: 18px;
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--secondary-color);
                border-radius: 50%;
                color: var(--primary-color);
            }
        }
    }
}